
$color-primary: rgba(4, 220, 248, 0.6);
// $color-primary-light: rgb(255, 239, 11);
$color-primary-light: #4cf4fa;

// $color-primary-dark: rgb(4, 38, 228);
$color-primary-dark: rgba(18, 88, 240, 0.774);


$color-primary-light-1: rgb(5, 253, 179);
$color-primary-dark-1: rgb(252, 248, 10);



$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #333;;


$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;